.services {
    background-color: #E9F3F4;
    color: #2C2C2C;
}

.services__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 35px;
}

.services__label {
    margin-bottom: 40px;
}

.services__title {
    font-family: SpaceGrotesk, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 4.6rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 50px;

}

.services__info {
    display: grid;
    align-items: start;
    width: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: space-around;
}

.item-services {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
}

.item-services__title {
    font-family: SpaceGrotesk, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 600;
    margin-bottom: 14px;
    font-size: 2.8rem;
}

.item-services__text {
    font-family: Moderat, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 140%;
    max-width: 450px;


}

.item-services__image {
    height: 224px;
    margin-bottom: 32px;
}

@media (max-width: 1439px){
    .services__container {
        padding-top: 40px;
        padding-bottom: 0;
    }

    .services__label {
        margin-bottom: 28px;
    }

    .services__title {
        font-size: 3.4rem;
        margin-bottom: 40px;
    }

    .item-services {
        margin-bottom: 40px;
    }

    .item-services__title {
        font-size: 2.0rem;
        margin-bottom: 12px;
    }

    .item-services__text {
        font-size: 1.4rem;
        max-width: 280px;
    }

    .item-services__image {
        height: 168px;
        margin-bottom: 24px;
    }
}


@media (max-width: 767px){
    .services__container {
        padding-top: 30px;
        padding-bottom: 7px;
    }

    .services__label {
        margin-bottom: 18px;
    }

    .services__title {
        font-size: 2.4rem;
        margin-bottom: 30px;
    }

    .services__info {
        display: grid;
        grid-template-columns: auto;
    }

    .item-services {
        margin-bottom: 34px;
    }

    .item-services__title {
        font-size: 2.0rem;
        margin-bottom: 12px;
    }

    .item-services__text {
        font-size: 1.4rem;
        max-width: 350px;
    }

    .item-services__image {
        height: 126px;
        margin-bottom: 24px;
    }
}