.privacy {
    background-color: #E9F3F4;
    color: #2C2C2C;
}

.privacy__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 70px;
    padding-bottom: 35px;
    line-height: 140%;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: Moderat, SpaceGrotesk, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.privacy__item {
    margin-bottom: 20px;
}

.privacy__title {
    margin-bottom: 20px;
    line-height: 110%;
    font-family: SpaceGrotesk, Moderat, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 4.6rem;
    font-weight: bold;
}

.privacy__subtitle {
    margin-bottom: 16px;
    font-size: 2.4rem;
    font-weight: bold;
    font-family: SpaceGrotesk, Moderat, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 110%;
}

.privacy__text {
    margin-bottom: 20px;
}

.privacy__list {
    margin-bottom: 20px;
    padding-left: 20px;
}

.privacy__list_lt {
    padding-left: 20px;
}

.privacy__email {
    margin-bottom: 20px;
    line-height: 140%;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: Moderat, SpaceGrotesk, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@media (max-width: 1439px){
    .privacy__container {

        padding-top: 50px;
        padding-bottom: 5px;
        font-size: 1.4rem;
    }

    .privacy__item {
        margin-bottom: 15px;
    }

    .privacy__title {
        margin-bottom: 15px;
        font-size: 3.4rem;
    }

    .privacy__subtitle {
        margin-bottom: 14px;
        font-size: 2.4rem;
    }

    .privacy__text {
        margin-bottom: 15px;
    }

    .privacy__list {
        margin-bottom: 15px;
    }

    .privacy__email {
        margin-bottom: 15px;
        font-size: 1.4rem;
    }
}


@media (max-width: 767px){
    .privacy__container {

        padding-top: 30px;
        padding-bottom: 5px;
    }

    .privacy__item {
        margin-bottom: 15px;
    }

    .privacy__title {
        font-size: 2.4rem;
    }

    .privacy__subtitle {
        margin-bottom: 14px;
        font-size: 1.8rem;
    }

    .privacy__text {
        margin-bottom: 15px;
    }

    .privacy__list {
        margin-bottom: 15px;
    }

    .privacy__email {
        margin-bottom: 15px;
        font-size: 1.4rem;
    }
}