.hero {
    background-color: #6739E9;
    color: white;

}

.hero__container {
    padding-top: 85px;
    padding-bottom: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__subtitle {
    font-family: SpaceGrotesk, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 5.2rem;
    margin-bottom: 14px;
    line-height: 110%;
}

.hero__title {
    font-size: 6.8rem;
    font-family: SpaceGrotesk, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.hero__description {
    font-family: Moderat, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
}

.hero__logo-container {
    display: flex;
    align-items: flex-start;
}

.hero__logo {
    height: 32px;
    margin-right: 34px;
    opacity: 0;
}

.hero__image {
    height: 420px;
}

@media (max-width: 1439px){
    .hero__container {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .hero__subtitle {
        font-size: 3.4rem;
        margin-bottom: 10px;
    }

    .hero__title {
        font-size: 4.6rem;
    }

    .hero__description {
        font-size: 1.6rem;
    }

    .hero__image {
        height: 222px;
    }

    .hero__logo {
        height: 22px;
        margin-right: 22px;
    }
}


@media (max-width: 767px){
    .hero__container {
        padding-top: 50px;
        padding-bottom: 33px;
        flex-direction: column;
        /*align-items: flex-start;*/
    }

    .hero__subtitle {
        font-size: 2.4rem;
        margin-bottom: 5px;
    }

    .hero__info {
        width: 332px;
        margin-bottom: 30px;
    }

    .hero__title {
        font-size: 3.8rem;
    }

    .hero__description {
        font-size: 1.4rem;
        margin-bottom: 22px;
    }

    .hero__logo {
        height: 16px;
        margin-right: 22px;
    }

    .hero__image {
        height: 222px;
    }
}