.clients {
    background-color: #E9F3F4;
    color: #2C2C2C;
}

.clients__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    text-align: center;
    padding-bottom: 66px;
}

.clients__label {
    margin-bottom: 40px;
}

.clients__title {
    font-family: SpaceGrotesk, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 4.6rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 26px;

}

.clients__description {
    margin-bottom: 30px;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: Moderat, system-ui, Avenir, Helvetica, Arial, sans-serif;
    max-width: 678px;
    line-height: 140%;
}

.clients__logo-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.clients__logo {
    height: 56px;
    margin: 0 30px 18px;
    opacity: 0;
}

/*.clients__logo:last-child {*/
/*    margin-right: 0;*/
/*}*/

/*.clients__logo:first-child {*/
/*    margin-left: 0;*/
/*}*/




@media (max-width: 1439px){
    .clients__container {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .clients__label {
        margin-bottom: 20px;
    }

    .clients__title {
        font-size: 3.4rem;
        margin-bottom: 20px;
    }

    .clients__description {
        margin-bottom: 28px;
        font-size: 1.4rem;
        max-width: 550px;
    }

    .clients__logo {
        height: 37px;
        margin: 0 15px 18px;
    }

}


@media (max-width: 767px){
    .clients__container {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .clients__label {
        margin-bottom: 22px;
    }

    .clients__title {
        font-size: 2.4rem;
        margin-bottom: 14px;
    }

    .clients__description {
        margin-bottom: 21px;
    }

    .clients__logo {
        height: 33px;
        margin: 0 13px 18px;
    }


}