.about {
    background-color: #2C2C2C;
    position: relative;
    overflow-x: hidden;
    color: white;
}

.about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 75px;
    text-align: center;
}

.about__bg-image-left {
    position: absolute;
    top: -33px;
    left: 0;
}

.about__bg-image-right {
    position: absolute;
    top: 129px;
    right: 0;
}

.about__label {
    margin-bottom: 40px;
}

.about__title {
    font-size: 4.6rem;
    margin-bottom: 24px;
    font-family: SpaceGrotesk, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 600;
}

.about__text {
    font-family: Moderat, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 140%;
    max-width: 1032px;
    font-size: 1.6rem;
}

@media (max-width: 1439px){
    .about__container {
        padding-top: 40px;
        padding-bottom: 56px;
    }

    .about__bg-image-left {
        top: -45px;
        height: 143px;
    }

    .about__bg-image-right {
        top: 123px;
        right: 0;
        height: 143px;
    }

    .about__label {
        margin-bottom: 28px;
    }

    .about__title {
        font-size: 3.4rem;
        margin-bottom: 20px;
    }

    .about__text {
        max-width: 626px;
        font-size: 1.4rem;
    }
}


@media (max-width: 767px){
    .about__container {
        padding-top: 30px;
        padding-bottom: 47px;
    }

    .about__bg-image-left {
        top: -38px;
        height: 107px;
    }

    .about__bg-image-right {
        top: auto;
        bottom: 12px;
        right: -20px;
        height: 107px;
    }

    .about__label {
        margin-bottom: 24px;
    }

    .about__title {
        font-size: 2.4rem;
        line-height: 110%;
        margin-bottom: 18px;
    }

    .about__text {
        font-size: 1.4rem;
        line-height: 130%;
    }
}