.contact {
    background-color: white;
}

.contact__container {
    display: flex;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 88px;
    color: #2C2C2C;
    justify-content: space-between;
}

.contact__image {
    height: 422px;
}

/*.contact__image_lg-md-devices {*/
/*  */
/*}*/

.contact__image_sm-devices {
    display: none;
}

.contact__info {
    width: 414px;
    position: relative;
}

.contact__label {
    margin-bottom: 40px;
}

.contact__title {
    font-weight: 700;
    font-size: 5.2rem;
    font-family: SpaceGrotesk, system-ui, Avenir, Helvetica, Arial, sans-serif;
    margin-bottom: 10px;
}

.contact__subtitle {
    font-family: SpaceGrotesk, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 4.6rem;
    margin-bottom: 40px;
}

.contact__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact__input {
    background: #E9F3F4;
    margin-bottom: 18px;
    padding: 17px 20px;
    color: #2C2C2C;
    border: none;
    outline: none;
    border-radius: 6px;
    width: 100%;
    font-family: Moderat, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}

.contact__input::placeholder {
    color: #2C2C2C;
}

.contact__input_text {
    resize: none;
    height: 104px;
}

.contact__submit-button {
    border: transparent;
    outline-color: #2C2C2C;
    cursor: pointer;
    color: white;
    border-radius: 6px;
    background-color: #6739E9;
    font-size: 1.6rem;
    width: 100%;
    padding: 1em 0;
    transition: background-color 0.25s;
}

.contact__submit-button:hover {
    background-color: #2C2C2C;
}

.contact__submit-button_disabled {
    background-color: #646464;
    cursor: default;
}

.contact__submit-button_disabled:hover {
    background-color: #646464;
}

.contact__submit-succeed {
    display: flex;
    position: absolute;
    bottom: -30px;
    align-items: center;
    font-size: 1.4rem;
    font-family: SpaceGrotesk, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.contact__submit-succeed-icon {
    margin-right: 5px;
}

@media (max-width: 1439px){
    .contact__container {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .contact__image {
        height: 224px;
        padding-top: 114px;
    }

    .contact__image_lg-md-devices {
        box-sizing: content-box;
    }

    /*.contact__image_sm-devices {*/
    /*  display: none;*/
    /*}*/

    .contact__info {
        width: 334px;
    }

    .contact__label {
        margin-bottom: 28px;
    }

    .contact__title {
        font-size: 4.8rem;
        margin-bottom: 10px;
    }

    .contact__subtitle {
        font-size: 3.4rem;
        margin-bottom: 26px;
    }

    .contact__input {
        margin-bottom: 14px;
        padding: 14px 20px;
        font-size: 1.4rem;
    }

    .contact__input_text {
        height: 104px;
    }

    .contact__submit-button {
        font-size: 1.4rem;
        padding: 1em 0;
    }
}


@media (max-width: 767px){
    .contact__container {
        padding-top: 30px;
        padding-bottom: 50px;
        justify-content: center;
    }

    .contact__image {
        height: 224px;
        padding-top: 0;
        margin-bottom: 30px;
    }

    .contact__image_lg-md-devices {
        display: none;
    }

    .contact__image_sm-devices {
        display: inline;
    }

    .contact__info {
        width: 334px;
    }

    .contact__label {
        margin-bottom: 24px;
    }

    .contact__title {
        font-size: 3.2rem;
        margin-bottom: 6px;
    }

    .contact__subtitle {
        font-size: 2.4rem;
        margin-bottom: 24px;
    }
}