.navbar {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.navbar__container {
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.navbar__logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 30px;
}

.navbar__link {
    color: #2C2C2C;
    margin: 0 20px;
}

.navbar__contact {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background-color: #CEED11;
    border-radius: 6px;
    font-size: 1.4rem;
    color: #2C2C2C;
    padding: 0.8em 1.57em;
    font-weight: 600;
    font-family: SpaceGrotesk, Moderat, system-ui, Avenir, Helvetica, Arial, sans-serif;
    transition: background-color 0.25s, color 0.25s;
}

.navbar__contact:hover {
    background-color: #2C2C2C;
    color: white;
}

@media (max-width: 1439px){
    .navbar__container {
        height: 76px;
    }

    .navbar__logo {
        height: 24px;
    }
}


@media (max-width: 767px){
    .navbar__container {
        height: 62px;
    }

    .navbar__logo {
        left: 20px;
    }

    .navbar__nav {
        display: none;
    }

    .navbar__contact {
        right: 20px;
        font-size: 1.2rem;
    }
}