.value {
    background-color: #6739E9;
    color: white;
}

.value__container {
    padding-top: 80px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.value__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.value__label {
    margin-bottom: 40px;
}

.value__title {
    margin-bottom: 10px;
    font-size: 5.2rem;
    font-weight: 700;
    font-family: SpaceGrotesk, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.value__subtitle {
    font-family: SpaceGrotesk, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 4.6rem;
    margin-bottom: 40px;
}

.value__list {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(6, min-content);
    padding-left: 0;
}

.value__list-item {
    position: relative;
    margin-bottom: 30px;
    padding-left: 20px;
    line-height: 130%;
    max-width: 465px;
    font-size: 1.8rem;
    font-weight: 400;
    font-family: Moderat, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.value__list-item:before {
    content: "";
    position: absolute;
    top: 6px;
    left: -2px;
    width:10px;
    height:10px;
    background: #CEED11;
    border-radius: 1px;
    display: block;
}

.value__image {
    height: 422px;
}

@media (max-width: 1439px){
    .value__container {
        padding-top: 40px;
        padding-bottom: 66px;
        align-items: center;
        flex-direction: column;
    }

    .value__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .value__label {
        margin-bottom: 28px;
    }

    .value__title {
        font-size: 4.6rem;
    }

    .value__subtitle {
        font-size: 3.4rem;
        margin-bottom: 28px;
    }

    .value__list {
        padding-left: 0;
        grid-template-rows: repeat(3, 1fr);
        margin-bottom: 24px;
    }

    .value__list-item {
        position: relative;
        margin-bottom: 16px;
        padding-right: 30px;
        padding-left: 16px;
        line-height: 140%;
        max-width: none;
        /*min-width: 306px;*/
        font-size: 1.6rem;
    }

    .value__list-item:before {
        top: 6px;
        left: -5px;
        width:10px;
        height:10px;
    }

    .value__image {
        height: 316px;
    }
}


@media (max-width: 767px){
    .value__container {
        padding-top: 30px;
        padding-bottom: 45px;
        align-items: center;
        flex-direction: column;
    }

    .value__label {
        margin-bottom: 24px;
    }

    .value__title {
        font-size: 3.8rem;
        margin-bottom: 10px;
    }

    .value__subtitle {
        font-size: 2.4rem;
        margin-bottom: 20px;
    }

    .value__list {
        grid-template-rows: repeat(6, min-content);
        margin-bottom: 24px;
    }

    .value__list-item {
        margin-bottom: 16px;
        padding-left: 18px;
        padding-right: 0;
        line-height: 140%;
        max-width: 450px;
        font-size: 1.4rem;
    }

    .value__list-item:before {
        top: 5px;
        left: -2px;
        width:10px;
        height:10px;
    }

    .value__image {
        height: 224px;
    }
}