
.footer {
    background-color: #2C2C2C;
    overflow: hidden;
    color: white;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

.footer__logo-email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__logo {
    height: 30px;
    margin-bottom: 30px;
}

.footer__title {
    margin-bottom: 15px;
    font-weight: 500;
    font-family: Moderat, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 100%;
}

.footer__nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.footer__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-right: 224px;
}

.footer__list-item {
    margin-bottom: 20px;
}

.footer__list-link {
    color: white;
    font-weight: 400;
    white-space: nowrap;
    font-family: Moderat, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
}

.footer__list-link:after {
    background: white;
}

.footer__social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.footer__email {
    font-weight: 500;
    font-size: 2.0em;
    position: relative;
    font-family: SpaceGrotesk, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: white;
}

.footer__email:after {
    bottom: 3px;
    background: white;
}

.footer__social-list {
    display: flex;
}

.footer__social-link {
    margin-left: 34px;
}

.footer__social-link_first {
    margin-left: 0 !important;
}

.footer__social-icon {
    height: 32px;
}

.footer__address {
    font-size: 1.4rem;
    line-height: 140%;
    font-family: Moderat, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.footer__line {
    width: 100vw;
    height: 1px;
    background-color: white;
    opacity: 0.2;
}

.footer__copyright {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: SpaceGrotesk, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    overflow: hidden;
    padding: 18px 0;
}

.footer__copyright_bold {
    font-weight: 500;
    color: white;
    font-size: 1.4rem;
}

@media (max-width: 1439px){
    .footer__container {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        padding-bottom: 60px;
    }

    .footer__logo {
        height: 30px;
        margin-bottom: 26px;
    }

    .footer__description {
        margin-bottom: 28px;
        font-size: 1.4rem;
    }

    .footer__list-item {
        margin-bottom: 20px;

    }

    .footer__list-link {
        font-size: 1.4rem;
    }

    .footer__social {
        align-items: flex-start;
    }

    .footer__social {
        display: flex;
        flex-direction: column;
    }

    .footer__email {
        font-size: 1.6em;
    }

    .footer__list {
        margin-right: 70px;

    }

    .footer__email:after {
        bottom: 3px;
    }

    .footer__social-link {
        margin-left: 20px;
    }

    .footer__social-icon {
        height: 24px;
    }

    .footer__copyright {
        font-size: 1.4rem;
        padding: 18px 0;
    }
}


@media (max-width: 767px){
    .footer__container {
        display: flex;
        /*justify-content: flex-start;*/
        align-items: flex-start;
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 6px;
    }

    .footer__logo-description {
        width: 100%;
        margin-bottom: 30px;
    }

    .footer__logo {
        height: 30px;
        margin-bottom: 30px;
    }

    .footer__nav {
        align-items: flex-start;
        margin-bottom: 30px;
    }

    /*.footer__list {*/
    /*    margin-bottom: ;*/
    /*}*/

    .footer__list-item {
        margin-bottom: 18px;
    }

    .footer__list-link {
        font-size: 1.2rem;
    }

    .footer__social-list {
        margin-bottom: 30px;
    }

    .footer__social-link {
        margin-left: 0;
        margin-right: 20px;
    }

    .footer__email {
        font-size: 1.6em;
        margin-bottom: 30px;
    }

    .footer__email:after {
        bottom: 3px;
    }

    .footer__copyright {
        font-size: 1.0rem;
        padding: 14px 0;
    }

    .footer__copyright_bold {
        font-size: 1.0rem;
    }
}