@font-face {
  font-family: 'Moderat';
  src: url('/fonts/Moderat-Regular.ttf') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Moderat';
  src: url('/fonts/Moderat-Medium.ttf') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/SpaceGrotesk-Regular.ttf') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/SpaceGrotesk-Medium.ttf') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/SpaceGrotesk-SemiBold.ttf') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/SpaceGrotesk-Bold.ttf') format('woff');
  font-weight: 700;
}

:root {
  font-family: Moderat, SpaceGrotesk, system-ui, Avenir, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding-top: 88px;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.anchor {
  display: block;
  position: relative;
  top: -88px;
  visibility: hidden;
}

a {
  font-size: 1.6rem;
  text-decoration: inherit;
  outline-color: #2C2C2C;
  color: inherit;
}


.link-underline {
  position: relative;
}


.link-underline:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  background: #2C2C2C;
  display: block;
  transition: transform 0.2s ease-out;
}


.link-underline:hover:after {
  transform: scaleX(1);
}


.section-label {
  background-color: #CEED11;
  width: fit-content;
  color: #2C2C2C;
  font-size: 1.4rem;
  padding: 0 1.0rem;
  height: 2.8rem;
  line-height: 2.8rem;
  border-radius: 30px;
  font-weight: 500;
  font-family: SpaceGrotesk, Moderat, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.footer__email:after {
  bottom: 3px;
  background: white;
}

.footer__list-link:after {
  background: white;
}

@media (max-width: 1439px){

  body {
    padding-top: 76px;
  }

  .container {
    max-width: 688px;
  }

  .anchor {
    display: block;
    position: relative;
    top: -76px;
    visibility: hidden;
  }
}


@media (max-width: 767px){

  body {
    padding-top: 62px;
  }

  .container {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
  }

  .anchor {
    display: block;
    position: relative;
    top: -62px;
    visibility: hidden;
  }

  .section-label {
    font-size: 1.0rem;
    height: 2.1rem;
    line-height: 2.1rem;
    padding: 0 0.75rem;
  }
}




